.menu {font-size: 20px;      font-style:oblique;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: black;
    position: fixed;
    left: 10px;
    z-index: 2000;
border-radius: 10px 10px;
list-style: none;
    display: flex;
    padding: 20px;
    border-radius: 10px 10px;
}
/* Menu Lateral */
.fundo {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 170px;
    height: 500vh;
    background-color:whitesmoke;
    transition: left 0.5s;
    z-index: 1000;
    border-radius: 10px 10px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.botão-fechar-X {float: right;
    position: relative;right: 10px;top: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.animação ul li a:hover {
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    text-decoration: underline;
    width: 100px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    color: red;
    text-decoration: none;
    display: block;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
body{align-items: center;justify-content: center;text-align: center;margin: auto;background:linear-gradient(to right,white,black,white);}
h1{font-size: 30px;font-style: oblique;font-family: Arial, Helvetica, sans-serif;text-shadow: 8px;text-decoration: underline;color: white;}
h2{font-size: 20px;font-style: italic;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-shadow: 8px;color: black;}
p{text-shadow: 8px;font-size: 15px;font-family: 'Times New Roman', Times, serif;font-style: inherit;color: white;}
a{text-decoration: none;font-size: 10px;}
ul{list-style-type: none;text-align: left;}
dl{padding: 6px;}
dt{padding: 6px;text-align: left;text-shadow: 8px;font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: oblique;}
dd{padding: 6px;text-align: left;text-shadow: 8px;font-size: 15px;font-family: 'Courier New', Courier, monospace;font-style: inherit;}
summary{width: 230px;margin: auto;border-radius: 10px  10px;padding: 4px;cursor: pointer;text-shadow: 8px;}
thead{text-align: left;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;font-size: 20px;text-shadow: 8px;}
tbody{text-align: left;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: italic;font-size: 15px;text-shadow: 8px;}
tfoot{text-align: left;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-style: initial;font-size: 20px;text-shadow: 8px;}
section{width: 300px;padding: 30px;margin: auto;border-radius: 10px 10px;align-items: center;justify-content: center;border: 6px solid blueviolet;}
header{width: 300px;padding: 30px;margin: auto;border-radius: 10px 10px;align-items: center;justify-content: center;border: 6px solid whitesmoke;}
nav{width: 300px;padding: 30px;margin: auto;border-radius: 10px 10px;align-items: center;justify-content: center;border: 6px solid blue;}
footer{width: 300px;padding: 30px;margin: auto;border-radius: 10px 10px;align-items: center;justify-content: center;border: 6px solid black;}
.img:hover{transform: scale(1.03);transition: transform(0.5s);}
.section:hover{transform: scale(1.03);transition: transform(0.4s);}
.summary:hover{transform: scale(1.04);transition: transform(0.7s);}
.nav:hover{transform: scale(1.03);transition: transform(0.6s);}
.header:hover{transform: scale(1.06);transition: transform(0.6s);}
.footer:hover{transform: scale(1.06);transition: transform(0.3s);}
.curses:hover{transform: scale(1.04);transition: transform(0.5s);}